/* @charset "utf-8"; */
/* CSS Document */



#galeria{
	margin:0;
	padding:0;
	background-image:url(../img/galeria/galeria.png);
	background-position:center;
	background-size:cover;
	width:100%;
}

#galeria h1{
	padding:6% 0 4% 0;	
}


/* Position the image container (needed to position the left and right arrows)
.container {
  position: relative;
  width:90%;
  margin:auto;
  padding-bottom:10%;
} */

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
	left:3%;	
}

/* Position the "next button" to the right */
.next {
  right: 3%;
  border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: calc(16.66% - 3.333%);
  margin: 1.666%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




@media screen and (max-width: 1366px) {
  .prev, .next{
		top:35%;	
	}
}

@media screen and (max-width: 1024px) {
  .prev, .next{
		top:35%;	
	} 
  .prev{
	left:5%;	
 }

  /* Position the "next button" to the right */
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }
}

@media screen and (max-width: 768px) {
  .prev, .next{
		top:45%;	
	} 
  .prev{
	left:1%;	
 }

  /* Position the "next button" to the right */
  .next {
    right: 1%;
    border-radius: 3px 0 0 3px;
  }
}
